.digidennis-mageme-option label,
.digidennis-mageme-optionbundleimage label {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.digidennis-mageme-option *[data-component="OptionPrice"],
.digidennis-mageme-optionbundleimage *[data-component="OptionPrice"] {
  position: absolute;
  top: 11px;
  right: 0;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #4ec9da;
  display: none;
}
.digidennis-mageme-option.option-disabled .digidennis-mageme-option-notice,
.digidennis-mageme-optionbundleimage.option-disabled .digidennis-mageme-option-notice {
  opacity: 1!important;
  color: #6390ab;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
}
.digidennis-mageme-option.option-disabled h5,
.digidennis-mageme-optionbundleimage.option-disabled h5,
.digidennis-mageme-option.option-disabled label,
.digidennis-mageme-optionbundleimage.option-disabled label {
  color: #c5c5c5;
}
.digidennis-mageme-option.option-disabled *[data-component="OptionPrice"],
.digidennis-mageme-optionbundleimage.option-disabled *[data-component="OptionPrice"] {
  color: #c5c5c5;
}
.digidennis-mageme-option.option-disabled dt,
.digidennis-mageme-optionbundleimage.option-disabled dt {
  border-color: #c5c5c5;
}
.digidennis-mageme-option .digidennis-mageme-option-select,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  vertical-align: text-bottom;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect {
  width: 129px;
  display: block;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect .CaptionCont,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect .CaptionCont {
  border: 1px solid #bbb;
  background-color: #fff;
  border-width: 0 0 1px 0;
  margin: 0;
  border-radius: 0;
  font-size: 14px;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect .SelectBox,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect .SelectBox {
  padding: 2px 8px;
  height: 26px;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect.open > .optWrapper,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect.open > .optWrapper {
  top: 28px;
  border-radius: 0;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect.open > .optWrapper .opt,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect.open > .optWrapper .opt {
  padding: 4px 6px;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect.open > .optWrapper .opt.selected,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect.open > .optWrapper .opt.selected {
  background-color: #a5f7a5;
}
.digidennis-mageme-option .digidennis-mageme-option-select .SumoSelect label,
.digidennis-mageme-optionbundleimage .digidennis-mageme-option-select .SumoSelect label {
  font-size: 14px;
}
.option-content {
  font-size: 16px;
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
}
.option-content .neos-nodetypes-text p:last-child {
  margin-bottom: 0;
}
