{namespace mageme=Digidennis\MageMe\ViewHelpers}
{namespace sitepack=Digidennis\SitePack\ViewHelpers}


<dl {attributes -> f:format.raw()}>

    <dt>
        <h5>{selection.label}</h5>
    </dt>

    <f:format.raw>
        <mageme:optionSelect selection="{selection}" slots="{optionslots}" getarguments="{requestarguments}"/>
    </f:format.raw>

    <dd class="digidennis-mageme-option-notice"></dd>

    <f:if condition="{gotcontent}">
        <dd class="digidennis-mageme-option-content">
            {content -> f:format.raw()}
        </dd>
    </f:if>

    <f:if condition="{rules}">
        <dd class="hidden">
            {rules -> f:format.raw()}
        </dd>
    </f:if>
</dl>